<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>創建成功</title>
  <style>
    body {
        background-color: #F3EBF6;
        font-family: Noto Sans TC;
    }

    .submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Noto Sans TC;
    margin-left: 45%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
  </style>

</head>
<body>
    <form method='post' action={{ url_for('create_transform') }}> 
        <h1 align="center">
            成功創建帳戶
    </h1>
        <p>
        <a class="submit" align="center" style="font-family: Noto Sans TC" onclick="self.location.href='http://127.0.0.1:5000/start'">回主畫面</a>
    </p>
    </form>
</body>
</html>






