<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查詢膚況紀錄系統</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <style>
    body {
        background-color: #F3EBF6;
        font-family: Noto Sans TC;
    }
    </style>

</head>
<body>
    <form method='post' action={{ url_for('skincondition') }}> 

       <h1>
        您的膚況紀錄
        </h1>
        <p>
        {{info}} <br>
        </p>     
    </form>
</body>
</html>

