<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>測試膚況檢測系統</title>
</head>
<body>
    <form method='post' action={{ url_for('skinpage') }}> 
        <p>
            嗨，對自己近期的膚況感到困擾嗎?<br>
            別擔心，我們臉部清潔補水小幫手就是為了解決你的煩惱才誕生的!<br>
            我們將會依據你的膚質來進行適合你的產品推薦，所以請先告訴我們，你是否知道自己是什麼膚質呢?<br>
    </p>
        <p>
        <input type="button" value="知道" name="按鈕名稱" onclick="self.location.href='http://127.0.0.1:5000/known'" style="font-family: Noto Sans TC; box-shadow:inset 0px 1px 0px 0px #ffffff; background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%); background-color:#ffffff; border-radius:6px; border:1px solid #dcdcdc; display:inline-block; cursor:pointer; color:#666666; font-family: Noto Sans TC; font-size:15px; font-weight:bold; padding:6px 24px; text-decoration:none; text-shadow:0px 1px 0px #ffffff; } .myButton:hover { background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%); background-color:#f6f6f6; } .myButton:active { position:relative; top:1px;"
    </p>
        <p>
        <input type="button" value="不知道" name="按鈕名稱" onclick="self.location.href='http://127.0.0.1:5000/unknown'" style="font-family: Noto Sans TC; box-shadow:inset 0px 1px 0px 0px #ffffff; background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%); background-color:#ffffff; border-radius:6px; border:1px solid #dcdcdc; display:inline-block; cursor:pointer; color:#666666; font-family: Noto Sans TC; font-size:15px; font-weight:bold; padding:6px 24px; text-decoration:none; text-shadow:0px 1px 0px #ffffff; } .myButton:hover { background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%); background-color:#f6f6f6; } .myButton:active { position:relative; top:1px;"
    </p>        
    </form>
</body>
</html>


